APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:reBg/fqjBjf7mQTJWJZ2PHCDTWCA1xej/SO3L7Cg+ms=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://localhost

DB_CONNECTION=mysql

BOARDING_SCHOOL_BASE='https://pesantrensurabaya.com'
BOARDING_SCHOOL_KEY= "66e9bc335c28e"
BOARDING_SCHOOL_SECRET="$2y$12$qx1pIv1SrMGdf6eDXkAWMurHW3REzLSSMAsoLUx.d8ZPaF4.G8kfu"
BOARDING_SCHOOL_CODE="dQHnsp"
BOARDING_SCHOOL_CACHE_EXPIRED=60*60*24